.contactContainer {
    background-color: #0a192f;
    width: 1500px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.contLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 10%;
    margin-top: 40px;
    
}

 h1 {
    color: white;
    padding-top: 2%;
}

.linkLink {
    font-size: 50px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 11%;
    padding-top: 10%;
}

.phoneLink {
    font-size: 50px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 2%;
}

.emailLink  {
    font-size: 50px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 2.5%;
    padding-top: 2%;
}

.h2 {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: white;
}



@media only screen and (min-width: 320px) and (max-width: 430px) {
    .contLinks {
        display: block;
        align-items: center;
        text-align: center;
        padding-bottom: 10%;
        margin-bottom: 30px;
        width: 90%;
        margin: auto;
        
    }

    .linkLink {
        margin-bottom: 10px;
    }

    .phoneLink {
        margin-bottom: 10px;
    }
    
    .emailLink  {
        margin-bottom: 10px;
    }
}