.headerBody {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    background-color: BLACK;
    padding-top: 5%;
}

 .decOne h5 {
    color: rgb(227, 81, 105);
    font-size: 40px;
    margin-bottom: 90%;
    margin-left: 100%;
}

.decTwo h5 {
    color: rgb(227, 81, 105);
    font-size: 50px;
    padding-top: 100%;
}

.h3 {
    margin-left: 3%;
}


.links ul {
    text-decoration: none;
    list-style: none;
    padding-top: 5%;
}

.links li {
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    border-bottom: 2px solid rgb(227, 81, 105);
    padding-bottom: 5px;

}

.headerBody h1 {
    font-size: 50px;
    color: WHITE;
}

.headerBody h3 {
    color: rgb(227, 81, 105);
}

.headerBody p {
    color: rgb(227, 81, 105);
}


@media only screen and (min-width: 320px) and (max-width: 431px) {
    .headerBody {
        height: 40vh;
        display: flex;
        justify-content: space-evenly;
        background-color: BLACK;
        padding-top: 5%;
    }

    .decOne h5 {
        color: rgb(227, 81, 105);
        font-size: 40px;
        margin-bottom: 90%;
        margin-left: 100%;
        display: none;
    }
    
    .decTwo h5 {
        color: rgb(227, 81, 105);
        font-size: 30px;
        padding-top: 180px;
        /* display: none; */
        
    }

    .headerBody h1 {
        font-size: 30px;
        color: WHITE;
    }
    
    .headerBody h3 {
        color: rgb(227, 81, 105);
    }
    
    .headerBody p {
        color: rgb(227, 81, 105);
        font-size: 15px;
    }

    .links ul {
        text-decoration: none;
        list-style: none;
        /* padding-top: 5%; */
        margin-right: 3%;
        font-size: 10px ;
    }
    
    .links li {
        text-decoration: none;
        list-style: none;
        margin-top: 20px;
        border-bottom: 2px solid rgb(227, 81, 105);
        padding-bottom: 5px;
        padding-right: 20px;
    
    }
}