body {
  font-family: "Inter", sans-serif;
  background-color: #0a192f;
  color: #ccd6f6;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Sidebar Styling */
.sidebar {
  width: 40%;
  padding: 20px;
  background-color: #112240;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
}

.name {
  font-size: 3rem;
  color: #64ffda;
  margin-bottom: 2px;
  margin-top: 20%;
  margin-left: 20px;
}

.role {
  margin-left: 20px;
  font-weight: 100;
  font-size: 30px;

}

.summary {
  font-size: 1rem;
  color: #8892b0;
  line-height: 1.6;
  margin-top: 5%;
  margin-left: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 20px;
}

.nav a {
  display: block;
  color: #ccd6f6;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px 0;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav a.active {
  color: #64ffda;
  border-bottom: 2px solid #64ffda;
}

.nav a:hover {
  color: #64ffda;
}

/* Main Content Styling */
.content {
  width: 50%;
  margin-left: 800px;
  padding: 40px;
  overflow-y: auto;
  flex: 1;
}

.projects-section {
  max-width: 50%;
}

.project-card {
 
  display: flex;
  justify-content: space-evenly;
  width: 850px;
  height: 160px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
  background-color: #1d2a45;
}

.card-info {
  max-width: 850px;
}


.project-card img {
  max-width: 150px;
  height: 150px;
  margin-left: 10px;
  float: left;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h3 {
  color: #64ffda;
  margin-bottom: 10px;
}

.project-card p {
  color: #8892b0;
  margin-left: 170px;
}

.project-card a {
  color: #64ffda;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: none;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  margin-left: 190px;
}

.skill-bubble {
  background-color: #112240;
  color: #64ffda;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #64ffda;
  transition: background-color 0.3s ease;
  margin-left: 7px;
}

.skill-bubble:hover {
  background-color: #64ffda;
  color: #0a192f;
  text-decoration: none;
}

.work-card {
  display: flex;
  justify-content: space-evenly;
  width: 900px;
}

.work-date h3 {
  width: 150px;
  font-size: 15px;
}

.work-info h3 {
  margin-left: 20px;
}

.work-skills {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.work-history a {
  color: white;
  text-decoration: underline;
}

.custom-cursor {
  position: fixed;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(109, 109, 226, 0.15), rgba(255, 255, 255, 0));
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: ripple 4.5s infinite;
  mix-blend-mode: difference;
  z-index: 1000;
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0.8;
  }
}

.social-icons {
  margin-top: 80px;
  margin-left: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.social-icon {
  font-size: 24px;
  color: white;
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #ff8c00; /* Hover color */
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
    overflow-y: auto;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .projects-section{
    max-width: 768px;
  }

  .content {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .card-info h3 {
    font-size: 10px;
  }

  .skill-bubble {
    font-size: 10px;
  }

 .card-info p {
  font-size: 10px;
 }

  .project-card {
    width: 90%;
  }

  .work-card{
    max-width: 768px;
    margin-left: -40px;
  }

  .work-card h3{
    
    text-wrap: wrap;
    font-size: 10px;
  }

  .work-card p {
    font-size: 10px;
  }

  .work-date{
    margin-left: 5px;
  }

  .work-info {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: -30px;
  }

 
}

@media (max-width: 414px) {
  body {
    flex-direction: column;
    overflow-y: auto;
  }

  .content {
    width: 100%;
  }

  .container {
    width: 97%;
    box-sizing: border-box;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .about-section p {
    width: 95%;
    font-size: 15px;
  }

  .projects-section{
    max-width: 100%;
    margin-left: -20px;
  }

  .project-card {
    width: 100%;
    margin-left: -30px;
    height: auto;

  }

 

  .work-card {
    display: none;
  }
}